.pagination {
    height: 22vh;
    width: 22vh;
  
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 50%;
    position: fixed;
    right: 0%;
    bottom: 0%;
    z-index: 2;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination span {
    padding: 5px;
    font-size: 50px;
    font-weight: bold;
    color: rgba(204, 14, 14, 0.5);
  }
  
  .pagination button {
    background-color: rgba(204, 14, 14, 0.5);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px 10px;
  }